* {
	border: 1px solid;
}

body {
	margin: 0;
	padding: 0;
/*	border: 0;
*/	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

.wrapper {
	margin: 25vh auto;
	display: flex;
	flex-flow: column wrap;
	min-height: 235px;
	min-width: 230px;
	width: 30%;
	transition: all 1s;
	justify-content: space-around;
	/*	border-radius: 50px;
*/
	/*	width: 40%;
*/
}

.info {
    flex: 1 1 50px;
    transition: all 1s;
    border-radius: 10px;
}

.active-section {
	flex: 2 1 35vh;
	order: 2;
	min-height: 100px;
	opacity: 1;
}

.visible-info {
	height: auto !important;
	display: block !important;
	opacity: 1 !important;
}

.info article {
	display: none;
	transition: all 3s ease-out;
	height: 0;
	opacity: 0;
	vertical-align: top;
}

.letter img {
    height: 100px;
    width: 46%;
    margin: 25px 0;
}

.letter p {
	display: inline-block;
    width: 45%;
}

.letter article * {
	vertical-align: top;
}

.works img {
	width: 100px;
	height: 100px;
	order:0;
}

.workBlock, .letterBlock {
	display: flex;
	flex-flow: row wrap;
}

.workBlock *, .letterBlock * {
    flex: 1 1 200px;
}


